<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>post测试</title>
</head>

<body>
  <form action="body" method="post">
    <input name="q" value="123"></input>
    <input name="w" value="456"></input>
    <input type="submit"></input>
  </form>
</body>

</html>